streamlit
google-generativeai
PyPDF2
langchain
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-google-genai
sentence-transformers
faiss-cpu
huggingface-hub
transformers
torch
numpy
pandas