streamlit
google-generativeai
PyPDF2

langchain
langchain-core>=0.1.0
langchain-text-splitters
langchain-huggingface
langchain-google-genai
langchain-community

pydantic>=2.0,<3.0
pydantic-settings



sentence-transformers
faiss-cpu
huggingface-hub
transformers
torch
numpy
pandas